@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
}

body {
    /* background-color: #91d370;
    background-image: linear-gradient(319deg, #91d370 0%, #3f408b 37%, #f2cd54 100%); */
    background-color: #d7d7d7;
    background-image: linear-gradient(147deg, #d7d7d7 0%, #353535 74%);

    font-family: 'Playfair Display', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    color: wheat;
}

.dicePic {
    height: 50%;
    width: 50%;
}

.rollKey {
    margin: 10px;
}

table {
    width: 400px;
}

table, th, td {
    color: white;
    border: 1px solid #fff;
}

th, td {
    font-size: large;
}

.purpleClass {
    background-color: rgb(111, 83, 138);
}

.blueClass {
    background-color: royalblue;
}

.greenClass {
    background-color: seagreen;
}

.yellowClass {
    background-color: darkkhaki;
}

.orangeClass {
    background-color: rgb(192, 131, 57);
}

.redClass {
    background-color: rgb(173, 60, 60);
}